{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set blogInfo = _Blog.getBlog() %}
{{this.registerJs("HomeController.listing();")}}
{{this.registerJs("HomeController.blog();")}}

{% set network = _Network.getNetworkData() %}
{% set limit = 10 %}
{% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
{% set articles = articlesArr.articles %}
<div class="channel ajaxArticles" data-existing-nonpinned-count="{{articlesArr.existingNonPinnedCount}}" data-offset="{{limit}}">
    <div class="col-half">
        <article class="card--channel">
            <div class="card card__no-image">
                <div class="card__overlay">
                    <div class="card__content_wrap">
                        <div class="card__content">
                            <h3 class="card__headline">{{blogInfo.title}}</h3>
                            <p class="card__text">{{Helper.shortStr(blogInfo.shortDescription, 120, false, true) | raw}}</p>
                            <div class="card__button-wrap">
                                {% if not _Network.isNetworkClosed(network) %}
                                    {% if not _User.isGuest %}
                                        {% set isUserFollowingBlog = _User.isUserFollowing('blog', blogInfo.id) %}
                                        {% if isUserFollowingBlog %}
                                            <button class="button button__follow button__follow followSection" data-status="unfollow"  data-guid="{{blogInfo.guid}}">Following</button>
                                        {% else %}
                                            <button  class="button button__follow followSection" data-status="follow"  data-guid="{{blogInfo.guid}}">Follow</button>
                                        {% endif %}
                                    {% else %}
                                        <button  class="button button__follow button__follow loginModal">Follow</button>
                                    {% endif %}
                                {% endif %}
                                <div class="button header_actions header_actions__share article__header-item">
                                    Share
                                    {{this.render('partials/article/_share-modal.twig', {url:blogInfo.url}) | raw }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>

    {% if articles[0] is defined %}
        {{this.render('partials/_single-article.twig', {article: articles[0], 'position': 1, containerClass: 'col-half'}) | raw}}
    {% endif %}


    {% if articles[1] is defined %}
        {{this.render('partials/_single-article.twig', {article: articles[1], 'position': 2, containerClass: 'col-third'}) | raw}}
    {% endif %}

    {% if articles[2] is defined %}
        {{this.render('partials/_single-article.twig', {article: articles[2], 'position': 3, containerClass: 'col-third'}) | raw}}
    {% endif %}

    {% if articles[3] is defined %}
        {{this.render('partials/_single-article.twig', {article: articles[3], 'position': 4, containerClass: 'col-third'}) | raw}}
    {% endif %}

    {% if articles[4] is defined %}
        {{this.render('partials/_single-article.twig', {article: articles[4], 'position': 5, containerClass: 'col-half'}) | raw}}
    {% endif %}

    {% if articles[5] is defined %}
        {{this.render('partials/_single-article.twig', {article: articles[5], 'position': 6, containerClass: 'col-half'}) | raw}}
    {% endif %}

    {% if articles[6] is defined %}
        {{this.render('partials/_single-article.twig', {article: articles[6], 'position': 7, containerClass: 'col-quarter'}) | raw}}
    {% endif %}

    {% if articles[7] is defined %}
        {{this.render('partials/_single-article.twig', {article: articles[7], 'position': 8, containerClass: 'col-quarter'}) | raw}}
    {% endif %}

    {% if articles[8] is defined %}
        {{this.render('partials/_single-article.twig', {article: articles[8], 'position': 9, containerClass: 'col-quarter'}) | raw}}
    {% endif %}

    {% if articles[9] is defined %}
        {{this.render('partials/_single-article.twig', {article: articles[9], 'position': 10, containerClass: 'col-quarter'}) | raw}}
    {% endif %}

    {% set noDataCls = 'hide' %}
    {% if articles|length == 0 %}
        {% set noDataCls = '' %}
    {% endif %}
    <div class="col-full text-center has-margin-bottom-40 {{noDataCls}} NoArticlesMsg">
        <p class="no-data text-center">No articles found.</p>  
    </div>
</div>
<br/>
<div class="text-center has-margin-bottom-40">
    {% if articles|length >= limit %}
        <a href="javascript:void(0)" class="button loadMoreArticles button__profile-follow"><i class="fa fa-arrow-down"></i>Load More</a>
    {% endif %}
</div>
