{{ set(this, 'title', "Forgot Password") }}
{{this.registerJs('AuthController.forgotPassword()')}}
<div class="auth">
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane login active forgot-password" id="signIn">
            <form name="loginForm" id="loginForm" class="login-form" action="{{_AppHelper.getForgotPasswordUrl()}}" method="post" autocomplete="off" novalidate="novalidate" _lpchecked="1">
                <input type="hidden" name="_csrf" value="{{_AppHelper.getCsrfToken()}}" /> 
                <div class="login__form-title">Forgot Password</div>
                {% if errors | length > 0 %}
                    <div class="alert alert-danger alert-dismissible fade in" role="alert">
                        <button class="close" aria-label="Close" data-dismiss="alert" type="button"><span aria-hidden="true">×</span></button>
                        {% for errorArr in errors %}
                            {% for error in errorArr %}
                                {{error}}
                            {% endfor %}
                        {% endfor %}
                    </div>
                {% endif %}
                
                <input type="text" class="form-control" name="email" value="{{ form.email }}" placeholder="{{_Network.getNetworkTitle()}} username or Email Address " autocomplete="off">
                <div class="button-set">
                    <label class="button-set__left"></label>
                    <div class="button-set__left">
                        <a href="/auth/login" class="button-set__forgot"><span class="green">Login/Signup?</span></a>
                        <button type="submit" class="button-set__submit" name="submitLoginForm">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>