
{{ set(this, 'title', 'Search - ' ~ search) }}

{{this.registerJs("SearchController.listing();")}}

{% set limit = 20 %}
{% set articles = _Search.searchArticles({'limit': limit, 'offset': 0, 'search': search}) %}

<div class="search__form-big">
    <form action="{{blog.url}}/search" method="get">
        <input type="text" class="header__search-text" placeholder="Search" name="s" value="{{ search }}">
        <button class="header__search-btn"></button>
    </form>
</div>
<div class="search__heading">
    {{ articles|length }} Search result{% if articles|length > 1 %}s{% endif %}
</div> 
<div class="search search__wrapper ajaxArticles" data-offset="{{limit}}">
    {% if articles|length > 0 %}
        {% for article in articles %}
            {{this.render('partials/_single-article.twig', {article: article, 'position': 1, containerClass: 'col-quarter'}) | raw}}
        {% endfor %}
    {% else %}
        <p class="result">Search results for ; <span>{{ search }}</span></p>
        <div class="error__wrapper text-center">
            <img alt="Error Icon" class="error__wrapper-icon" src="{{networkData.templatePath}}/static/images/icons/nofound-error.svg">
            <div class="error__wrapper-content">
                <h1 class="error__wrapper-content-heading">404</h1>
                <p class="error__wrapper-content-text"><span>Sorry,</span> but this article doesn’t exist</p>
                <a href="index.php" class="button home-button">Back to Homepage</a>
            </div>
        </div>
    {% endif %}
</div>
<br/><br/>
<div class="row text-center">
    {% if articles|length >= limit %}
        <a href="javascript:void(0)" class="button loadMoreArticles button__profile-follow"><i class="fa fa-arrow-down"></i>Load More</a>
    {% endif %}
</div>
